[global]
time_based=1

[job1]
name=none
filesize={{ j1_fio_filesize }}
bs={{ j1_fio_bs }}
runtime={{ j1_fio_runtime }}
rw={{ j1_fio_rw }}
iodepth={{ j1_fio_iodepth }}
ioengine={{ j1_fio_ioengine }}
direct={{ j1_fio_direct }}
buffered={{ j1_fio_buffered }}
nrfiles={{ j1_fio_nrfiles }}
file_service_type={{ j1_fio_file_service_type }}
fdatasync={{ j1_fio_fdatasync }}
numjobs={{ j1_fio_numjobs }}
