[global]
time_based=1
ioengine=libaio
direct=1
directory=/datadrive

[job1]
name=small_blocks_write
filesize=4G
filename=small_blocks_write_data
bs={{ profile.fio.bs | default('8k')}}
runtime={{ profile.fio.runtime }}
rw={{ profile.fio.rw }}
iodepth={{ profile.fio.iodepth | default('8')}}
