[global]
time_based=1
ioengine=sync
buffered=1
runtime=60
bs=8k

[job1]
name=checkpointer
filename={{ fio_write_job1_data_filename }}
iodepth=1
size=1G
rw=write
fsync_on_close=1
sync_file_range=write:32
numjobs=1

[job2]
name=wal
filename={{ fio_write_job2_data_filename }}
iodepth=1
size=1G
rw=write
fdatasync=1
numjobs=1
